header {
    background-image: url("images/background.jpg");
    height: 500px;
    width: 100%;
    background-repeat: no-repeat;
    background-position: center;
}

div {
    background: url("images/logo.png");
    height: 500px;
    width: 100%;
    background-repeat: no-repeat;
    background-position: center;
}

main {
    height: 600px;
    text-align: center;
}

footer {
    font-size: 10pt;
    text-align: end;
    vertical-align: bottom;
}
